.resourceNameLine {
  display: flex;
  align-items: center;
}

.resourceName {
  flex-grow: 1;
}

.addCarrierPathButton {
}

.carrierPaths {
  display: flex;
  flex-direction: column;
}

.carrierPathLine {
}
