.modalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  & > * {
    pointer-events: initial;
  }
}

.modalShadow {
  &Fade {
    background: rgba(50, 50, 50, 0.3);
  }
}
