.wrapper {
  display: flex;
}

.canvasWrapper {
  display: grid;
  grid-template-areas: 'A';
  width: 800px;
  height: 600px;
}

.canvas {
  width: 800px;
  height: 600px;
  grid-area: A;

  &[data-drag] {
    cursor: move;
  }
}

.sidePanel {
  width: 300px;
  padding: 6px 10px;
}

.researchPanel {
  grid-area: A;
  align-self: start;
  justify-self: start;
  margin: 20px;
}
