.wrapper {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.canvasWrapper {
  display: grid;
  grid-template-areas: 'A';
  flex-grow: 1;
  overflow: hidden;
}

.canvas {
  grid-area: A;

  &[data-drag] {
    cursor: move;
  }
}

.sidePanel {
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 6px 10px;
}

.sidePanelMenu {
  flex-shrink: 0;
}

.sidePanelCities,
.sidePanelBuildings {
  flex-grow: 1;
  flex-basis: 10px;
  overflow: hidden;
}

.researchPanel {
  grid-area: A;
  align-self: start;
  justify-self: start;
  margin: 20px;
}
