@import '../../mixins';

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  padding: 10px 16px;
  background: white;
  border: 1px solid #777;
}

.panel {
  display: flex;
  justify-content: end;
  padding: 0 0 8px;
}

.panelElement {
  cursor: pointer;
}

.block {
  padding: 3px 0;
}

.researchList {
  overflow: auto;
  overflow-x: hidden;
}

.researchItem {
  margin: 0 0 6px;
}

.researchButton {
  @include button-reset;
  display: block;
  width: 100%;
  text-align: initial;
  padding: 10px 14px;

  &Completed {
    background: rgb(172, 236, 172);
  }

  &Available {
    background: azure;
    cursor: pointer;
  }

  &InProgress {
    background: rgb(180, 194, 236);
  }

  &Blocked {
    background: rgb(234, 234, 234);
  }
}

.researchHeader {
  display: flex;
  align-items: center;
  padding: 0 0 3px;
}

.researchTitle {
  flex-grow: 1;
}

.researchCost {
  flex-shrink: 0;
}

.completed {
  text-decoration: line-through;
}
